
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Averia Libre", system-ui;
    /* font-weight: 300; */
    /* color: #B7C9F2; */
}

.mainContainer{
    background-image: url('./images/kenrick-mills-1h2Pg97SXfA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.mainContainer{
    border: 5px solid blue;
    height: 97vh;
    margin: 10px;
}
.Weathersection{
    display: flex;
   
}
.Wdasboard{
    background-color: rgb(61, 102, 238);
    height: 55px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.or{
  text-align: center;
}
form{
    height: 83vh;
    width: 30%;
    text-align: start;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    background-color: rgb(140, 169, 233);
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#city{
    padding: 10px;
    outline: none;
}
#btn{
    padding: 8px;
    background-color: rgb(52, 59, 35);
    border: none;
    font-size: 20px;
    color: white;
}
#UseLocation{
  padding: 8px;
  background-color: rgb(117, 146, 51);
  border: none;
  font-size: 20px;
  color: rgb(8, 0, 0);
}
.card-container{
    width: 70%;
    height: 83vh;
    margin: 20px;

}
.horiZontaLine{
  color: #020202;
  background-color: #020202;
}
.NameOftemAndWind{
    width: 99.5%;
    height:120px;
    background-color: rgb(115, 184, 184);
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    gap:200px;
    padding-left: 50px;
}
.spped{
    font-weight: bold;
    color: rgb(225, 240, 11);
}
.spped2{
    font-weight: bold;
    color: rgb(225, 240, 11);
}
.cityName{
    font-size: 25px;
}
.clouds{
    width: 40%;
    margin-top: 35px;
    height: 30vh;
    color: blue;
    background-color: rgb(119, 171, 238);
    padding: 10px;
    /* border-radius: 10px; */
}
.spped1{
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.oneClode{
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
.loading {
    margin-left: 300px;
    margin-top: 200px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #020202;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .codername{
position: absolute;
bottom: 30px;
left: 120px;
font-weight: bolder;
color: white;
  }
  .sunrise{
    border: 2px solid rgb(49, 20, 20);
    height:22vh;
    padding: 20px;
    width: 40%;
    /* border-radius: 10px; */
    color: rgb(121, 34, 34);
    font-size: 25px;
  }
  .sunSet{
    border: 2px solid rgb(49, 20, 20);
    height:22vh;
    padding: 20px;
    width: 55%;
    /* border-radius: 10px; */
    color: rgb(121, 34, 34);
    font-size: 25px;
  }
  .Sunriseandset{
    margin-top: 35px;
display: flex;
gap: 40px;
  }
  .cloudsAndLevel{
    display: flex;
    gap: 40px;
  }
  .level{
    font-size: 20px;
    width: 55%;
    margin-top: 35px;
    height: 30vh;
    color: rgb(56, 4, 4);
    background-color: rgb(119, 171, 238);
    padding: 20px;
    /* border-radius: 10px; */
  }
  .level>h1{
    padding: 10px;
  }



 